:root {
  --primary: #000;
  --border: #ececec;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.container {
  padding: 50px 5%;
}

h2 {
  font-size: 0.9rem;
  letter-spacing: 3px;
  text-align: left;
  margin-bottom: 30px;
}

/* Grid dinámico */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}

.product-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.product-image {
  width: 100%;
  aspect-ratio: 3 / 4; /* Proporción típica de e-commerce */
  object-fit: cover; /* Esto evita que la foto se estire */
  background-color: #f9f9f9;
}

.product-info {
  margin-top: 15px;
}

.product-info h3 {
  font-size: 0.8rem;
  margin: 5px 0;
  text-transform: uppercase;
  font-weight: 600;
}

.product-info p {
  font-size: 0.8rem;
  color: #555;
}
