@font-face {
  font-family: "KouzanBrush";
  src: url("../../fonts/KouzanMouhituFontOTF.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sora";
  src: url("../../fonts/Sora-VariableFont_wght.ttf") format("truetype");
}
:root {
  --primary: #000;
  --border: #ececec;
  --gray-light: #f9f9f9;
}

body {
  font-family: "KouzanBrush", "Sora", "Inter", sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5%;
  background-color: #1f1f1f;
  color: #f5f5f5;
}
a {
  text-decoration: none;
  color: inherit;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-container:hover .logo-kanji,
.logo-container:hover .logo-text {
  color: #820000;
}

.logo-kanji {
  font-family: "KouzanBrush", serif;
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: -5px;
  font-weight: bolder;
  transition: color 0.3s;
}

.logo-text {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 8px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 7px;
  transition: color 0.3s;
}

nav {
  display: flex;
  align-items: center;
  height: 4rem;
}

#profile-icon,
#cart-icon {
  font-size: 2rem;
  margin-left: 20px;
  color: white;
  transition: color 0.3s;
}
#profile-icon:hover,
#cart-icon:hover {
  color: #820000;
}

.hero {
  height: 400px;
  background: url("../assets/Img/heroSection.jpg") center/cover no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

.hero-title {
  font-family: "KouzanBrush";
  font-size: 3rem;
  letter-spacing: 1.75rem;
  margin: 0;
  font-weight: bolder;
}

.hero-text {
  font-family: "Sora", sans-serif;
  font-size: 1rem;
  margin: 1rem 0;
}

.btn-buy {
  background: white;
  border: none;
  padding: 1rem 3rem;
  margin-top: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.25rem;
  font-weight: bold;
  font-family: "Sora", sans-serif;
  transition: background-color 0.3s;
}

.btn-buy:hover {
  background-color: #820000;
  color: white;
}

.promo-badge {
  position: absolute;
  top: 20px;
  right: 5%;
  background: white;
  color: black;
  padding: 10px;
  font-size: 0.7rem;
}

/* Grids */
.container {
  padding: 5rem 5%;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-bottom: 5rem;
  text-align: center;
}

.img-placeholder {
  width: 100%;
  aspect-ratio: 1/1;
  background: var(--gray-light);
  border: 1px solid var(--border);
}

.empty {
  position: relative;
}
.empty::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(
      to top left,
      transparent 49.5%,
      #ccc 50%,
      transparent 50.5%
    ),
    linear-gradient(
      to top right,
      transparent 49.5%,
      #ccc 50%,
      transparent 50.5%
    );
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 3rem;
  margin-bottom: 5rem;
}

.product-card img {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
}
